<ion-modal-view style="background: rgba(33,71,101,0.60);" ng-click="closePage.help1()">
    <!-- <div class="bar bar-subheader pd-0" style="background: none;">
        <div class="row pd-0 fsize-16 ali-center">
            <div class="col" ng-repeat="item in xueshuDetail.col" style="color: #2B97EF;font-size: 16px;line-height: 34px;{{xueshuDetail.index == $index?'background: #FFF':'color:rgba(43, 152, 240, 0)'}}">
                {{item.name}}
            </div>
        </div>
    </div>
    <img src="img/helpmsg/guide.png" style="width: 30px;margin-top: 73px;position: absolute;z-index: 10;left:{{xueshuDetail.calcLeft()}}px"
    />
    <div style="width: calc(100% - 50px);margin: 0 auto;margin-top:170px;border-radius: 5px;min-height: 60px;padding: 15px;background: #FFF;border-radius: 4px;font-size: 16px;color: #2B98F0;">
        <img src="img/helpmsg/ht.png" style="width: 70px;margin: -50px 0px 0px -30px;"> {{xueshuDetail.col[xueshuDetail.index].help}}
    </div>
    <div style="width: calc(100% - 50px);margin: 0 auto;margin-top:20px;color: #FFF;font-size: 18px;">
        <div class="row pd-0">
            <div class="col pd-0 ali-left">
                <font ng-if="xueshuDetail.index > 0" ng-click="xueshuDetail.prev()">
                    <i class="icon ion-chevron-left"></i>上一个</font>
            </div>
            <div class="col pd-0 ali-right">
                <font ng-if="xueshuDetail.index < xueshuDetail.col.length-1" ng-click="xueshuDetail.next()">
                    下一个
                    <i class="icon ion-chevron-right"></i>
                </font>
                <font ng-if="xueshuDetail.index == xueshuDetail.col.length-1" ng-click="closePage.xueshuModal();">
                    <img src="img/helpmsg/iknow.png" style="width: 90px;">
                </font>
            </div>
        </div>
    </div> -->
    <div style="color: #FFF">大家好我是一个模态框</div>
</ion-modal-view>