<html>

<head>
    <title>健药行365</title>
    <link rel="stylesheet" href="../css/base.css" type="text/css" />
    <link rel="stylesheet" href="../css/index.css" type="text/css" />
</head>

<body>
    <div class="header">
        <img src="../img/LOGO.png" style="margin-left: 40px;">
        <div class="nav">
            <a class="select">首页</a>
            <a>产品介绍</a>
            <a>产品服务</a>
            <a>入驻药企</a>
            <a>关于我们</a>
            <a style="background: #FFFFFF;border-radius: 73px;color: #25B7C1;">企业登陆入口 ></a>
        </div>
    </div>
    <div style="background-image: linear-gradient(135deg, #0C82EF 0%, rgba(0,177,174,0.84) 100%, rgba(12,174,169,0.38) 100%);">
        <div style="width:80%;background-image: url('../img/Group 25.png');background-size:100% 100%;margin: auto;color: #FFFFFF;padding-top: 280px;padding-bottom: 213px;overflow: hidden;">
            <div class="fl" style="width: 50%">
                <div style="font-size: 60px;">让中国人用上高质量的好药！</div>
                <div style="font-size: 22px;margin-top: 20px;">用互联网的方式 构建 合规、专业、高效 的合作生态</div>
                <img style="margin-top: 50px;" src="../img/2-1.png">
                <div style="width: 162px;text-align: center;font-size: 18px;color: #FFFFFF;margin-top: -340px;">【健药行365】</div>
                <img style="margin-top: 50px;" src="../img/2-1-4.png">
            </div>
            <img src="../img/2-1-5.png">
        </div>
    </div>
    <div class="content">
        <div>
            <div class="theme">关于健药行365</div>
            <img style="margin-top: 30px;" src="../img/2-3.png">
            <div style="margin-top: 55px;" class="ver-center">
                <div class="instru">健药行365是聚焦于医院终端市场的第三方专业营销服务平台 。为合作伙伴提供有针对性的服务，紧随中国医药市场变化，实现产品的专业化学术推广。通过创新手段，帮助企业连接客户，为企业的专业化管理提供技术条件，有效把握产品定位及市场推广方向，为每个环节创造最大价值。
                </div>
                <img style="width: 50%;" src="../img/2-2.png">
            </div>
        </div>
    </div>
    <div class="content" style="background-image: url('../img/2-bg-4.png');background-size:100% 100%;">
        <div>
            <div class="theme">我们的优势</div>
            <img style="margin-top: 30px;" src="../img/2-3.png">
            <br>
            <div class="adv">
                <img src="../img/2-4-1.png">
                <div class="intro">100%合规</div>
                <div class="sub-intro">让企业更放心</div>
            </div>
            <div class="adv">
                <img src="../img/2-4-2.png">
                <div class="intro">降低成本</div>
                <div class="sub-intro">最大程度降低企业使用成本</div>
            </div>
            <div class="adv">
                <img src="../img/2-4-3.png">
                <div class="intro">提升业绩</div>
                <div class="sub-intro">更高效的互动</div>
            </div>
            <br>
            <div class="adv">
                <img src="../img/2-4-4.png">
                <div class="intro">简单易用</div>
                <div class="sub-intro">操作简单，节省时间成本</div>
            </div>
            <div class="adv">
                <img src="../img/2-4-5.png">
                <div class="intro">安全可靠</div>
                <div class="sub-intro">数据加密，强大的云安全防护体系</div>
            </div>
        </div>
    </div>
    <!-- <iframe src="footer.html" id="myiframe" style="width: 100%;" frameborder="no" marginwidth="0" marginheight="0" scrolling="no"></iframe> -->
    <div class="footer">
        <div style="width: 80%;margin: auto;padding-top: 90px;">
            <img src="../img/LOGO.png" style="width: 179px;height: 50px;">
            <ul class="navigation">
                <li style="margin-left: 0px;"><a href="http://www.baidu.com">首页</a></li>
                <li><a>产品介绍</a></li>
                <li><a>产品服务</a></li>
                <li><a>入驻药企</a></li>
                <li><a>关于我们</a></li>  
            </ul>
            <div>
                <div style="float: right;color: #A3ABB0;font-size: 12px;">
                    <div style="float: left;text-align: center;">
                        <div style="width: 114px;height: 114px;background: greenyellow;margin-bottom: 23px;"></div>
                        健药行365二维码
                    </div>
                    <div style="float: right;text-align: center;margin-left: 36px;">
                        <div style="width: 114px;height: 114px;background: lightskyblue;margin-bottom: 23px;"></div>
                        微信二维码
                    </div>
                </div>
            </div>
            <div style="font-size: 12px;color: #A3ABB0;max-width: 657px;margin-top: 80px;">
                健药行365，是专为医药企业提供「营销管理服务」的创新型产品，我们专注于「医药行业的CRM/SFE」，致力基于云计算、移动互联技术来提升医药企业「 团队销售效能」和实现「全渠道营销管理」，开启面向未来的医药营销新模式。
            </div>
            <div style="font-size: 12px;color: #A3ABB0;margin-top: 20px;">
                本站关键字
                <span style="color: #2B98F0;"> 健药行365 医药行业 CRM医药行业 SFE医药行业 客户关系 管理医药 企业销售 团队管理</span>
            </div>
        </div>
        <div style="opacity: 0.2;border: 1px solid #3391D8;margin-top: 90px;"></div>
        <div style="width: 80%;margin: auto;margin-top: 10px;font-size: 12px;color: #A3ABB0;overflow: hidden;margin-bottom: 10px;">
            <div style="float: left;">Copyright © 2017 健智聚合信息科技有限公司 All Rights Reserved　苏ICP备15048744号-2</div>
            <div style="float: right;margin-right: 70px;">联系电话：014-3333-3333</div>
        </div>
    </div>
</body>

</html>

<!-- <script type="text/javascript">
    var ifm = document.getElementById("myiframe");
    ifm.height = document.documentElement.clientHeight;
</script> -->