<html>

<head>
    <title>健药行365</title>
    <link rel="stylesheet" href="../css/base.css" type="text/css" />
    <link rel="stylesheet" href="../css/login.css" type="text/css" />
</head>

<body>
    <div class="header">
        <img src="../img/LOGO1.png" style="margin-left: 40px;">
        <div class="nav">
            <a class="select">首页</a>
            <a>产品介绍</a>
            <a>产品服务</a>
            <a>入驻药企</a>
            <a>关于我们</a>
            <a class="select">企业登陆入口 ></a>
        </div>
    </div>
    <div class="content">
        <div>
            <div>
                <div class="login">
                    欢迎登录后台管理页面
                    <div class="tab">
                        <div>
                            <div>扫码登录</div>
                        </div>
                        <div>
                            <div class="tabselect">手机登录</div>
                        </div>
                    </div>
                    <div class="ver-center line" style="margin-top: 60px;">
                        <img src="../img/1-2-1.png">
                        <input type="text" placeholder="请输入手机号" style="width: calc(100% - 33px);">
                    </div>
                    <div class="ver-center line">
                        <img src="../img/1-2-2.png">
                        <input type="text" placeholder="请输入验证码" style="width: calc(100% - 120px);">
                        <a>获取验证码</a>
                    </div>
                    <div class="ver-center radio">
                        <img src="../img/1-2-4.png"> 记住手机号
                    </div>
                    <div class="btn">登录</div>
                </div>
            </div>
            <img src="../img/1-1.png">
        </div>
    </div>
</body>

<script>
    window.addEventListener('message', function (e) {
        if (e.data.print) {
            window.print();
        }
    }, false);
</script>

</html>