<html>

<head>
    <title>健药行365</title>
    <link rel="stylesheet" href="../css/base.css" type="text/css" />
    <link rel="stylesheet" href="../css/product-service.css" type="text/css" />
</head>

<body>
    <div class="header">
        <img src="../img/LOGO1.png" style="margin-left: 40px;">
        <div class="nav">
            <a>首页</a>
            <a>产品介绍</a>
            <a class="select">产品服务</a>
            <a>入驻药企</a>
            <a>关于我们</a>
            <a style="color: #3298E5;">企业登陆入口 ></a>
        </div>
    </div>
    <div style="width: 100%;height: 70px;"></div>
    <div class="content">
        <div class="content-header">
            <div>
                <div>我们致力于</div>
                <p>为您提供最合规、专业、高效的服务</p>
            </div>
        </div>
        <div class="content-son">
            <div>
                <div class="content-son-intro">
                    <p class="content-son-intro-f1">一线代表 王小姐</p>
                    <p class="content-son-intro-f2">
                        <span style="color: #3298E5">健药行365</span>，帮我实现与相同医院、医生和产品领域的同行信息共享，可以得到行业专家的帮助和行业资讯，可以找到新的产品合作商机和职业发展机会，是我们推广自然人的一个安全平台。
                    </p>
                </div>
                <div class="content-son-img" style="float: left;">
                    <div>
                        <p class="content-son-img-f1">医药代表</p>
                        <p class="content-son-img-f2">优先获取新品信息，产品资源自由搭配，信息轻松传递实现专业、高效的互动，促进销售达成!</p>
                    </div>
                    <img src="../img/4-2.png" style="width: 100%;">
                </div>
            </div>
            <div>
                <div class="content-son-intro">
                    <p class="content-son-intro-f1">某区域代理商总经理     张先生</p>
                    <p class="content-son-intro-f2">
                        <span style="color: #3298E5">健药行365</span>，帮我把团队成员的客户资源，销售过程和一线数据实现轻松管理，让我找到更多适合我们的产品合作机会，建立更广的医药圈人脉资源，是个适合我们终端专业推广团队的好平台。
                    </p>
                </div>
                <div class="content-son-img" style="float: right;">
                    <div>
                        <p class="content-son-img-f1">代理商</p>
                        <p class="content-son-img-f2">工作管理不再复杂，数据信息轻松获取，药企顾问式辅导协助提升团队战斗力，轻松成为药企VIP !</p>
                    </div>
                    <img src="../img/4-3.png" style="width: 100%;">
                </div>
            </div>
            <div>
                <div class="content-son-intro">
                    <p class="content-son-intro-f1">某药企业务员    王小姐</p>
                    <p class="content-son-intro-f2">
                        <span style="color: #3298E5">健药行365</span>，帮我实现与相同医院、医生和产品领域的同行信息共享，可以得到行业专家的帮助和行业资讯，可以找到新的产品合作商机和职业发展机会，是我们推广自然人的一个安全平台。</p>
                </div>
                <div class="content-son-img" style="float: left;">
                    <div>
                        <p class="content-son-img-f1">医药企业</p>
                        <p class="content-son-img-f2">发布招商信息，精准定位终端合伙人，精细招商管理。</p>
                    </div>
                    <img src="../img/4-4.png" style="width: 100%;">
                </div>
            </div>
            <div>
                <div class="content-son-intro">
                    <p class="content-son-intro-f1">某药企营销总监     李先生</p>
                    <p class="content-son-intro-f2">
                        <span style="color: #3298E5">健药行365</span>，它不仅仅是一个精准招商平台，更是一个我们招商团队协作平台，还是一个实现对所有终端合伙人和代理商的精细化管理平台，各种行业资讯和各区域的线上线下活动。</p>
                </div>
                <div class="content-son-img" style="float: right;">
                    <div>
                        <p class="content-son-img-f1">医药企业</p>
                        <p class="content-son-img-f2">工作管理不再复杂，数据信息轻松获取，药企顾问式辅导协助提升团队战斗力，轻松成为药企VIP !</p>
                    </div>
                    <img src="../img/4-5.png" style="width: 100%;">
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer-son">
            <img src="../img/LOGO.png" style="width: 179px;height: 50px;">
            <ul class="nav">
                <li style="margin-left: 0px;"><a href="http://www.baidu.com">首页</a></li>
                <li><a>产品介绍</a></li>
                <li><a>产品服务</a></li>
                <li><a>入驻药企</a></li>
                <li><a>关于我们</a></li>  
            </ul>
            <div class="qrcode">
                <div class="qrcode-left">
                    <div style="width: 114px;height: 114px;background: greenyellow;margin-bottom: 23px;"></div>
                    健药行365二维码
                </div>
                <div class="qrcode-right">
                    <div style="width: 114px;height: 114px;background: lightskyblue;margin-bottom: 23px;"></div>
                    微信二维码
                </div>
            </div>
            <div class="footer-son-intro">
                健药行365，是专为医药企业提供「营销管理服务」的创新型产品，我们专注于「医药行业的CRM/SFE」，致力基于云计算、移动互联技术来提升医药企业「 团队销售效能」和实现「全渠道营销管理」，开启面向未来的医药营销新模式。
            </div>
            <div class="footer-son-keyword">
                本站关键字
                <span style="color: #2B98F0;"> 健药行365 医药行业 CRM医药行业 SFE医药行业 客户关系 管理医药 企业销售 团队管理</span>
            </div>
        </div>
        <div class="footer-border"></div>
        <div class="footer-bottom">
            <div style="float: left;">Copyright © 2017 健智聚合信息科技有限公司 All Rights Reserved　苏ICP备15048744号-2</div>
            <div style="float: right;margin-right: 70px;">联系电话：014-3333-3333</div>
        </div>
    </div>
</body>

</html>