<html>

<head>
    <title>vue测试</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>
    <div id="app">
        <p>{{ message }}</p>
        <input type="text" v-model='message' style="width: 100%;">
        <p v-if="seen">现在你看到我了</p>
        <ol>
            <li v-for="item in todoes">{{item.text}}</li>
        </ol>
        <button v-on:click="reverseMessage">监听</button>
        <todo-item v-for="item in todoes" v-bind:todo="item"></todo-item>
        <p>{{showText()}}</p>
    </div>
    <button style="padding: 10px 20px;background: lightblue;display: inline-block;" onclick="txtShow()">按钮</button>
    <div id='page'>
    </div>
    <script src="../js/test1.js"></script>
</body>

</html>