<html>

<head>
    <title>健药行365</title>
    <link rel="stylesheet" href="../css/base.css" type="text/css" />
    <link rel="stylesheet" href="../css/us.css" type="text/css" />
</head>

<body>
    <div class="header">
        <img src="../img/LOGO1.png" style="margin-left: 40px;">
        <div class="nav">
            <a>首页</a>
            <a>产品介绍</a>
            <a>产品服务</a>
            <a>入驻药企</a>
            <a class="select">关于我们</a>
            <a style="color: #3298E5;">企业登陆入口 ></a>
        </div>
    </div>
    <div style="width: 100%;height: 70px;"></div>
    <div class="content">
        <div class="content-header"></div>
        <div class="content-son">
            <div class="content-son-intro">
                关于健智聚合
                <p>南京健智聚合科技股份有限公司于2016年成立，我们致力于将多年的互联网、移动互联网经验，结合中国医药行业市场营销发展现状，挖掘传统医药营销在移动互联网时代转型的可行性方案。</p>
            </div>
            发展愿景
            <div class="content-son-desire">着力于创新和高效的智慧营销平台，携手志同道合的合作伙伴，把最优质的产品和医学服务提供给医生和患者。</div>
            <div class="content-son-culture">
                <div style="font-size: 30px;">企业文化</div>
                <div style="font-size: 20px;margin-top: 80px;">尊重、包容、坦诚、创新</div>
            </div>
            联系方式
            <div class="content-son-contact">
                <div>
                    <img src="../img/6-3-1.png">
                    <div class="content-son-contact-f1">公司地址</div>
                    <div class="content-son-contact-f2">南京市浦口区学府路16号南京健友生化制药股份有限公司</div>
                </div>
                <div style="margin-left: auto;">
                    <img src="../img/6-3-2.png">
                    <div class="content-son-contact-f1">联系电话</div>
                    <div class="content-son-contact-f2">222-2228-8888</div>
                </div>
                <div style="margin-left: auto;">
                    <img src="../img/6-3-3.png">
                    <div class="content-son-contact-f1">电子邮件</div>
                    <div class="content-son-contact-f2">aliyun66788@jianyou.com</div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer-son">
            <img src="../img/LOGO.png" style="width: 179px;height: 50px;">
            <ul class="nav">
                <li style="margin-left: 0px;"><a href="http://www.baidu.com">首页</a></li>
                <li><a>产品介绍</a></li>
                <li><a>产品服务</a></li>
                <li><a>入驻药企</a></li>
                <li><a>关于我们</a></li>  
            </ul>
            <div class="qrcode">
                <div class="qrcode-left">
                    <div style="width: 114px;height: 114px;background: greenyellow;margin-bottom: 23px;"></div>
                    健药行365二维码
                </div>
                <div class="qrcode-right">
                    <div style="width: 114px;height: 114px;background: lightskyblue;margin-bottom: 23px;"></div>
                    微信二维码
                </div>
            </div>
            <div class="footer-son-intro">
                健药行365，是专为医药企业提供「营销管理服务」的创新型产品，我们专注于「医药行业的CRM/SFE」，致力基于云计算、移动互联技术来提升医药企业「 团队销售效能」和实现「全渠道营销管理」，开启面向未来的医药营销新模式。
            </div>
            <div class="footer-son-keyword">
                本站关键字
                <span style="color: #2B98F0;"> 健药行365 医药行业 CRM医药行业 SFE医药行业 客户关系 管理医药 企业销售 团队管理</span>
            </div>
        </div>
        <div class="footer-border"></div>
        <div class="footer-bottom">
            <div style="float: left;">Copyright © 2017 健智聚合信息科技有限公司 All Rights Reserved　苏ICP备15048744号-2</div>
            <div style="float: right;margin-right: 70px;">联系电话：014-3333-3333</div>
        </div>
    </div>
</body>

</html>