<html>

<head>
    <title>健药行365</title>
    <meta http-equiv="X-UA-Compatible" content="IE=7">
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" href="../css/base.css" type="text/css" />
    <link rel="stylesheet" href="../css/user-info.css" type="text/css" />
    <script src="http://at.alicdn.com/t/font_206261_r20uenfmrk7kqpvi.js"></script>
</head>

<body class="user-info">
    <div class="fsize-24 cor-dark-0" style="margin-left: 37px;margin-top: 23px;">请完善基本信息</div>
    <div class="fsize-14 cor-dark-1 ver-center" style="margin-left: 37px;margin-top: 30px;">
        <svg aria-hidden="true" class="svg">
            <use xlink:href="#icon-shenfen"></use>
        </svg>
        选择身份
        <span style="color: red">*</span>
    </div>
    <div id="name" style="margin: 10px 0;height: 120px;background: lightskyblue;-webkit-mask: -webkit-linear-gradient(left,  rgba(36, 142, 36, 0), #000, rgba(36, 142, 36, 0))">
    </div>
    <div class="line">
        <div class="fsize-14 cor-dark-1 ver-center">
            <svg aria-hidden="true" class="svg">
                <use xlink:href="#icon-xingming"></use>
            </svg>
            真实姓名
            <span style="color: red">*</span>
        </div>
        <div class="line-son">
            <input type="text" placeholder="请输入真实姓名" class="ali-right w100 input">
        </div>
    </div>
    <div class="line">
        <div class="fsize-14 cor-dark-1 ver-center">
            <svg aria-hidden="true" class="svg">
                <use xlink:href="#icon-xingbie1"></use>
            </svg>
            性别
        </div>
        <div class="line-son w100" style="overflow: hidden;">
            <div class="ver-center" style="float: right;">
                <svg aria-hidden="true" style="width: 20px;height: 20px;" class="select">
                    <use xlink:href="#icon-danxuanxuanzhong"></use>
                    <!-- <use xlink:href="#icon-danxuankuang"></use> -->
                </svg>
                <svg aria-hidden="true" style="width: 25px;height: 28px;margin-left: 10px;">
                    <use xlink:href="#icon-nv"></use>
                </svg>
                <svg aria-hidden="true" style="width: 20px;height: 20px;margin-left: 40px;" class="unselect">
                    <!-- <use xlink:href="#icon-danxuanxuanzhong"></use> -->
                    <use xlink:href="#icon-danxuankuang"></use>
                </svg>
                <svg aria-hidden="true" style="width: 25px;height: 28px;margin-left: 10px;">
                    <use xlink:href="#icon-nan"></use>
                </svg>
            </div>
        </div>
    </div>
    <div class="line">
        <div class="fsize-14 cor-dark-1 ver-center">
            <svg aria-hidden="true" class="svg">
                <use xlink:href="#icon-shengri1"></use>
            </svg>
            生日
        </div>
        <div class="line-son ver-center">
            <input type="text" placeholder="请选择日期" class="ali-right w100 input" readonly>
            <svg aria-hidden="true">
                <use xlink:href="#icon-chevronright"></use>
            </svg>
        </div>
    </div>
    <div class="line">
        <div class="fsize-14 cor-dark-1 ver-center">
            <svg aria-hidden="true" class="svg">
                <use xlink:href="#icon-youxiang"></use>
            </svg>
            邮箱
        </div>
        <div class="line-son">
            <input type="text" placeholder="请输入邮箱" class="ali-right w100 input">
        </div>
    </div>
    <div class="line">
        <div class="fsize-14 cor-dark-1 ver-center">
            <svg aria-hidden="true" class="svg">
                <use xlink:href="#icon-diqu1"></use>
            </svg>
            地区
        </div>
        <div class="line-son ver-center">
            <input type="text" placeholder="请选择地区" class="ali-right w100 input" readonly>
            <svg aria-hidden="true">
                <use xlink:href="#icon-chevronright"></use>
            </svg>
        </div>
    </div>
    <div class="line">
        <div class="fsize-14 cor-dark-1 ver-center">
            <svg aria-hidden="true" class="svg">
                <use xlink:href="#icon-yiyuan3"></use>
            </svg>
            医院
        </div>
        <div class="line-son ver-center">
            <input type="text" placeholder="请选择医院" class="ali-right w100 input" readonly>
            <svg aria-hidden="true">
                <use xlink:href="#icon-chevronright"></use>
            </svg>
        </div>
    </div>
    <!-- <div class="line">
            <div class="fsize-14 cor-dark-1 ver-center">
                <svg aria-hidden="true" class="svg">
                    <use xlink:href="#icon-yiyuan3"></use>
                </svg>
                科室
            </div>
            <div class="line-son ver-center">
                <input type="text" placeholder="请选择科室" class="ali-right w100 input" readonly>
                <i class="ion-chevron-right icon"></i>
            </div>
        </div>
        <div class="line">
            <div class="fsize-14 cor-dark-1 ver-center">
                <svg aria-hidden="true" class="svg">
                    <use xlink:href="#icon-yiyuan3"></use>
                </svg>
                职称
            </div>
            <div class="line-son ver-center">
                <input type="text" placeholder="请选择职称" class="ali-right w100 input" readonly>
                <i class="ion-chevron-right icon"></i>
            </div>
        </div> -->
    <div class="cor-dark-2 fsize-14 ali-center" style="margin-top: 40px;">我是有底线的～</div>
    <div class="line">
        <div class="bg-blue fsize-18 cor-white ali-center btn">提交</div>
    </div>
</body>

</html>