<html>

<head>
    <title>健药行365</title>
    <meta http-equiv="X-UA-Compatible" content="IE=7">
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" href="../css/base.css" type="text/css" />
    <link rel="stylesheet" href="../css/user-register.css" type="text/css" />
    <script src="http://at.alicdn.com/t/font_206261_r20uenfmrk7kqpvi.js"></script>
</head>

<body class="user-register">
    <div class="content">
        <div class="title-hy ver-center">
            <img src="../img/haitun.png"> 欢迎您
        </div>
        <!-- <div class="title-login">
            登录已有账号
            <div>151965803809</div>
        </div> -->
        <div class="content-hint ver-center">
            <svg aria-hidden="true">
                <use xlink:href="#icon-shouji"></use>
                <!-- <use xlink:href="#icon-yanzhengma"></use> -->
            </svg>
            手机号
        </div>
        <div class="content-iphone ver-center">
            +86
            <span class="triangle"></span>
            <input type="number">
            <svg aria-hidden="true">
                <use xlink:href="#icon-shanchu1"></use>
            </svg>
        </div>
        <!-- <div class="content-code">
            <input type="text">
            <div>验证码</div>
        </div> -->
        <div class="content-hint1">该号码格式错误，请重新输入</div>
        <div class="content-btn">下一步</div>
    </div>
</body>

</html>